# OS/IDE
.DS_Store
*.swp
*.swo
*.swn
.idea/


# Go build artifacts
*.exe
*.test
*.out
*.a
*.o
*.so

# Binaries
bin/
build/
dist/

# Go modules
vendor/

# Go coverage files
coverage.out

# Dependency directories (if you use vendoring)
pkg/

# dotenv
.env
.env.*
!.env.example

# Docker
apps/api/docker/data/*
!apps/api/docker/data/.gitkeep

# Rosetta cache (if you're using Apple Silicon and ran into this)
**/.cache/

# Log files
*.log
logs/
apps/api/tmp/*